<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1> Blogg page Express Js</h1>

    <% if(blogs.length) {  %>
        <% blogs.forEach(blog => {  %>
            <h3><%= blog.title %></h3>
            <p><%= blog.intro %></p>
        <% })  %>
    <% } else { %>
        <h3>No Blogs found.</h3>
    <% } %>

    

</body>
</html>