<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs') %>
<body>
    <!-- use - dash instead of = equal sign when we want to escape html but must be secure code -->
    <%- include('./components/navbar.ejs') %>

    <div class="container">

        <% if(blogs.length) {  %>
            <% blogs.forEach(blog => {  %>
               <div class="blog-card">
                    <h3><%= blog.title %></h3>
                    <p><%= blog.intro %></p>
               </div>
            <% })  %>
        <% } else { %>
            <h3>No Blogs found.</h3>
        <% } %>
    </div>


    

</body>
</html>